/* .donationbody{
    background-image: url(https://thumbs.dreamstime.com/z/donation-money-mini-people-donate-to-box-group-donors-give-can-use-web-banner-infographics-hero-images-145228452.jpg);
} */

.paygateh1 {
    text-align: center;
    margin-top: 3%;
}

.paygatedonatebutton {
    margin-left: 43%;
    border: solid;
    border-radius: 15%;
    border-left: 1px solid red;
    border-right-color: blue;
    border-top: 1px solid aqua;
    border-bottom-color: gold;
    font-size: larger;
    font-family: cursive;
    padding: 2px 4px 4px 2px;
}

.paygatedonatebutton:hover {
    margin-left: 45%;
    border: solid;
    border-radius: 6%;
    color: #03b029;
    border-left: 1px solid blue;
    border-right-color: gold;
    border-top: 1px solid #00cb2c;
    border-bottom-color: blue;
    font-size: medium;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}