* {
    margin: 0;
    padding: 0;
}

.contactbody {
    background-image: -webkit-image-set("Contact.gif");
    background-size: cover;
    
}

ul li {
    text-decoration: none;
}

.emailthree {
    text-align: center;
    background-color: #d4ceceb6;
    font-size: xx-large;
    font-style: italic;
    color: rgb(200, 3, 200);
    font-family:fantasy;
}

.phonethree {
    text-align: center;
    background-color: #d4ceceb6;
    font-size: xx-large;
    font-style: italic;
    color: rgb(212, 154, 7);
    font-family:fantasy;
}


.wappthree {
    text-align: center;
    background-color: #d4ceceb6;
    font-size: xx-large;
    font-style: italic;
    color: rgb(40 159 15);
    font-family:fantasy;
}

.homethree {
    text-align: center;
    background-color: #d4ceceb6;
    font-size: xx-large;
    font-style: italic;
    color: rgb(155, 47, 0);
    font-family:fantasy;
}

.clockthree {
    text-align: center;
    background-color: #d4ceceb6;
    font-size: xx-large;
    font-style: italic;
    color: rgb(0, 61, 215);
    font-family:fantasy;
}

.cmarquee {
    color: red;
    font-size: larger;
    font-family: cursive;
}