.edittable {
    background-color: #00b1fd9d;
    /* text-align: center; */
    margin-left: 35%;
    text-align: center;
    /* padding: 10%; */
    width: 30%;
    margin-top: 3%;
    border: solid;
    border-radius: 10px;
    border-color: rgb(255, 234, 0);
    /* padding: 15px 20px; */
    border-width: 4px;
    /* width: 10%; */
}

.tableheadedit {
    color: rgb(250, 0, 0);
    background-color: rgba(255, 255, 255, 0.653);
    text-align: center;
}

.editdonorshowhide {
    text-decoration: none;
    color: white;
    margin-left: 1%;
    font-size: larger;
    cursor: pointer;
}

.editdonorshowhide:hover {
    text-decoration: none;
    color: white;
    font-size: x-large;
}

.editsavedonor {
    margin-top: 2%;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-style: italic;
    font-family: cursive;
    color: #009dff;
    border-radius: 20%;
    font-weight: bolder;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    transition: transform 0.50s ease, opacity 0.50s ease, box-shadow 0.60s ease;
}

.editsavedonor:hover {
    background-color: #befe93;
    box-shadow: 10px 40px 6px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    font-weight: normal;
}

.bloodgroupsearch3 {
    background-color: #fff;
    padding: 8px 8px;
    border-radius: 18px;
    border: 1px solid #ddd; 
    font-family: cursive;
    position: relative;
    transition: all 0.3s ease;
    box-shadow: inset 0 4px 8px rgba(0, 47, 255, 0.774), 0 10px 15px rgba(100, 232, 223, 0.858);
    align-items: center;
    color: rgb(240, 4, 4);
    background-color: #fddfdf;
    cursor: pointer;
    margin-left: 2%;
}

.bloodgroupsearch3:hover {
    border-color: white;
    box-shadow: inset 0 8px 16px rgba(232, 102, 102, 0.658), 0 15px 20px rgba(255, 219, 216, 0.877);
}