.tableuserregistration {
    background-color: rgba(25, 0, 255, 0.548);
    width: 45%;
    margin-left: 27%;
    /* margin-top: 1%; */
    /* padding: 10px 50px; */
    border: solid;
    border-radius: 46%;
    border-color: #04ff26a1;
    text-align: center;
}

.tableheaduserregistration {
    text-align: center;
    /* color: rgb(0, 137, 37); */
}

.h1userregistration {
    text-align: center;
    /* margin-top: 3%; */
    font-size: xx-large;
    font-weight: bolder;
    color: rgb(151, 0, 0);
}

/* .registrationSwitchin {
    text-align: center;
    margin-top: 2%;
} */

.registrationSwitchin {
    /* margin-top: 10%;
     */
     text-align: center;
     margin-top: 2%;
    padding: 5px 5px;
    color: 
    rgb(1, 214, 1);
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    /* background-color: whitesmoke; */
    border-radius: 60%;
    /* margin-left: 2.7%; */
    border-color: rgb(255, 136, 0);
}

.registrationSwitchin:hover {
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-color: rgb(1, 214, 1);
    color: rgb(255, 136, 0);
    border-radius: 20%;
}
